*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow-x: hidden;
}

body{
  background-color: blanchedalmond;
  margin: 0;
  text-align: center;
}

/* header styling */

header{
  background-color: black;
  background-image: url("./images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 650px;
  width: 100%;
  overflow-x: hidden;
}
.header_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  overflow-y: hidden;
}
.opac{
  background-color: black;
  width: auto;
  height: 650px;
  opacity: 0.7;
}

.header_content h1{
  font-size: 80px;
  padding: 10px;
  font-family: cursive;
}
.header_content hr{
  margin-top: -50px;
  width: 50%;
}

/* shed no section */

.sectionShed{
  background-color: rgba(173, 173, 196, 0.486);
  padding: 30px;
  text-align: left;
}

.sheds{
  /* background-color: blueviolet; */
  font-size: 20px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

input[type=text]{
  color: #ffffff;
  width: 150px;
  height: 35px;
  text-align: left;
  font-size: 20px;
  margin: 5px;
  padding: 0px 10px 0px 10px;
  box-sizing: border-box;
  background-color: rgba(19, 14, 14, 0.486);
  border: 1px solid black;
  border-radius: 2px;
}
input[type=button]{
  width: 150px;
  height: 35px;
  background-color: burlywood;
  font-size: 17px;
  border-radius: 5px;
}
.para{
  padding: 20px;
}
#newslots{
  background-color: rgba(22, 19, 19, 0.445);  
  text-align: center;
  border-radius: 5px;
  width: 600px;
  padding: 30px;
  box-sizing: content-box;
}

/* For Brookside and money made*/

.sectionBrook{
  background-color: rgb(196, 175, 170);
  padding: 20px;
  text-align: left;
}

.brook_profits{
  font-size: 20px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.price_change{
  padding: 20px;
  background-color: white;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 0px 10px 1px;
}

.price_change input[type=text]{
  background-color: rgba(19, 14, 14, 0.486);
  width: 100px;
  height: 35px;
}
.price_change input[type=button]{
  background-color:burlywood;
  width: 50px;
  height: 38px;
}
#bro_input{
  text-align: center;
}

/* for generator buttons */
.genbtns{
  box-shadow: 0px 0px 10px 1px;
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 4px 4px 4px 4px;
}
.genbtns input[type=button]{
  background-color:burlywood;
  width: 200px;
  height: 38px;
}
/* for report part */

.reportpt{
  padding: 20px;
  text-align: center;
  background-color: rgba(22, 19, 19, 0.445);  
  box-sizing: content-box;
  width: 600px;
  border-radius: 5px;
  box-sizing: content-box;
  margin-top: 2px;
  box-shadow: 0px 2px 10px 1px;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .sheds{
    font-size: 18px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  #newslots{
    background-color: rgba(22, 19, 19, 0.445);  
    text-align: center;
    border-radius: 5px;
    width: 300px;
    padding: 5px;
    box-sizing: border-box;
  }
}